* {
    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    background: lightblue;
    border: 1rem solid rgba(255, 255, 255, .4);
    /* border-radius: .5rem; */
    padding: 1rem;
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: calc(90% - 2rem);
    width: calc(100% - 1rem);
    background: rgba(0, 0, 0, 0.1);
    border-radius: .4rem;
    margin: 0.5rem;
}

.card {
    height: 10.8rem;
    width: 6.8rem;
    margin: auto;
    background: black;
    background-image: url(../images/cards/cardback.png);
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0, -.1rem;
    border: .6rem solid white;
    border-radius: 6px;
}

.timer {
    height: 10%;
    color: whitesmoke;
    border: .5rem solid white;
    padding: .4rem;
    border-radius: .4rem;
}