* {
    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
}

.container {
    position: relative;
    height: calc(100% - 1rem);
    width: calc(100% - 1rem);
    background: lightblue;
    border: 1rem solid rgba(255, 255, 255, .4);
    border-radius: .5rem;
    padding: 1rem;
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 4fr;
    grid-auto-rows: 2fr;
    height: calc(80% - 1rem);
    width: calc(100% - 1rem);
    background: rgba(0, 0, 0, .4);
    border-radius: .4rem;
}

.card {
    height: 20%;
    width: 10%;
    background: red;
}

.timer {
    height: 20%;
    color: whitesmoke;
    border: .5rem solid white;
    padding: .4rem;
    border-radius: .4rem;
}