* {
    padding: 0;
    margin: 0;
}

html,
body {
    position: relative;
    height: 100%;
    width: 100%;
    background: url('../images/courtroomfront.png');
    background-blend-mode: luminosity;
    background-position: center;
    background-size: cover;
}

.container {
    position: relative;
    height: calc(100% - 4rem);
    width: calc(100% - 4rem);
    background: #3f5690e6;
    border: 1rem solid #04315a40;
    /* border-radius: .5rem; */
    padding: 1rem;
    
}

.menu-wrapper {
    display: grid;
    position: absolute;
    width: calc(30% - 1rem);
    height: calc(60% - 2rem);
    left: 60%;
    top: calc(20% + 1rem);
    grid-template-columns: auto;
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 10%;
    grid-column-gap: 10%;
}

.menu-btn {
    border: 0.4rem solid #dcdcdc69;
    border-radius: 0.3rem;
    background: red;
    font-size: 60px;
    text-align: center;  
}

.menu-btn:hover {
    background: lightcoral;
}

.wrapper {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    height: calc(90% - 2rem);
    width: calc(100% - 1rem);
    background: rgba(0, 0, 0, 0.1);
    border-radius: .4rem;
    margin: 0.5rem;
    transition: transform 1s;
    transform-style: preserve-3d;
    perspective: 1000px;
}

.card {
    transition: 3s;
    transform-style: preserve-3d;
    position: relative;
    height: 10.8rem;
    width: 6.8rem;
    margin: auto;
    border: .6rem solid white;
    border-radius: 6px;
}

.card-back {
    position: absolute;
    height: 100%;
    width: 100%;
    background: black;
    background-image: url("../images/card-images/cardback.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0, -.1rem;
}

.card-front {
    position: absolute;
    backface-visibility: hidden;
    transform: rotateY(180deg);
    height: 100%;
    width: 100%;
    background: black;
    background-image: url("../images/card-images/DS\ DSi\ -\ Phoenix\ Wright\ Ace\ Attorney\ -\ Evidence-0-2-01-00.png");
    background-size: contain;
    background-repeat: no-repeat;
    background-position: 0, -.1rem;
}

.card-flipped {
    transform: rotateY(180deg);
}

.timer {
    height: 10%;
    color: whitesmoke;
    border: .5rem solid white;
    padding: .4rem;
    border-radius: .4rem;
}